 <div class="row-fluid">
  <div class="span6">
    <h3 align="center">Interpreter Database</h3>
    <hr/>
  </div>
</div>

<%- begin %>
<%- rescue %>
<% end %>

<ul>
  <li><a href="/reports/showScheduleSummary/" target="_top">Schedule Summary - CSD</a></li>
</ul>