<%%= bootstrap_form_for(@<%= singular_table_name %>) do |f| %>
  
<% attributes.each do |attribute| -%>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  
<% end -%>

    <div class="form-actions">
      <%%= f.submit %>
      <%%= link_to 'Cancel', <%= index_helper %>_path, :class => 'btn' %>
    </div>
 
<%% end %>
